
<section class="menu newsletter-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Newsletter Text -->
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="newsletter-text mb-100">
                        <h2 class="padding">Subscribe for a <span>5% Discount</span></h2>
                        <p class="padding">Get a 5% Percent of instant discount on all the featured products in STC Home Decor.</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-lg-6 col-xl-5">
                    <div class="newsletter-form mb-100">
                        <form id="add-ninja">
                            <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="nl-email" placeholder="Your E-mail">
                            <input type="submit" (click)="fbPostData(email)" value="Subscribe">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <section class="menu">
    <footer style="height:300px;margin-bottom:-80px;"class=" footer_area clearfix">
        <div class="container-fluid">
             <div class="row">
                <div class="col-xs-3">
                  <div style="width:200px" class="footer-logo mr-50 padding">
                     <a href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
                  </div>
                </div>
                <div class="pad col-xs-3" >
                    <p style="padding-top:-15px;padding-left:60px;"> Designed By:
                    <br>Abhishek Agrawal<br>
                    Web Developer</p>
                 </div>
                <div style="text-align:right;padding-top:5px"class="pad col-xs-6">
                  <p class="pad footer-company-name">Samleshwari Trading Co</p>

					        <p class="pad"><i class="fa fa-map-marker"></i>&nbsp;<span>Near Gurudwara</span>, Bargarh,Odisha</p>

					        <p><i class="fa fa-phone"></i>&nbsp;+91-9439395579</p>


                </div>
              </div>
        </div>




    </footer>
    </section>
