<app-menu></app-menu>
<br>
<h1 style="text-align:center">Products</h1><br>
<div style="padding:0px 25px 0px 25px;">
<div style="background-color:#f1f1f1;"class="row">
  <div class="column">
      <div class="content">
          <img src="assets/img/bg-img/1.jpg">
              <div style="background-color:#AED8D7;" class="hover-content">
                   <div class="line"></div>
                      <p>From $180</p>
                       <h4>Modern Chair</h4>
                    </div>
              </div>
    <img src="assets/img/bg-img/1.jpg">
    <img src="assets/img/bg-img/1.jpg">
    <img src="assets/img/bg-img/1.jpg">
    <img src="assets/img/bg-img/1.jpg">
    <img src="assets/img/bg-img/1.jpg">
    <img src="assets/img/bg-img/1.jpg">
  </div>
  <div class="column">
    <img src="assets/img/bg-img/2.jpg">
    <img src="assets/img/bg-img/2.jpg">
    <img src="assets/img/bg-img/2.jpg">
    <img src="assets/img/bg-img/2.jpg">
    <img src="assets/img/bg-img/2.jpg">
    <img src="assets/img/bg-img/2.jpg">
    <img src="assets/img/bg-img/2.jpg">
  </div>
  <div class="column">
    <img src="assets/img/bg-img/3.jpg">
    <img src="assets/img/bg-img/3.jpg">
    <img src="assets/img/bg-img/3.jpg">
    <img src="assets/img/bg-img/3.jpg">
    <img src="assets/img/bg-img/3.jpg">
    <img src="assets/img/bg-img/3.jpg">
    <img src="assets/img/bg-img/3.jpg">
  </div>
  <div class="column">
    <img src="assets/img/bg-img/4.jpg">
    <img src="assets/img/bg-img/4.jpg">
    <img src="assets/img/bg-img/4.jpg">
    <img src="assets/img/bg-img/4.jpg">
    <img src="assets/img/bg-img/4.jpg">
    <img src="assets/img/bg-img/4.jpg">
     <img src="assets/img/bg-img/4.jpg">
  </div>
</div>
</div>
<app-footer></app-footer>
