<app-menu></app-menu>
<h1 style="text-align:center">Products</h1><br>
<div class="container-fluid">
	<div style="padding-left:50px;padding-bottom:50px;" class="row">
		<div style=""class="col-md-12">
			<ng-container *ngFor="let customer of fileUploads">
				<div style="padding-left:40px"class="col-md-3">
					<img [imageZoom]="zoomedImageSrc" style="padding-top:30px;"[src]="customer.url" alt="name" height="200" width="250"/>
            <div class="container">
              <h4><b>{{customer.detail}}</b></h4>
              <p>{{customer.price}}</p>
          </div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
<app-footer></app-footer>
