
<div class="menu ">
  <div style="text-align:center;"class="demo">
      <div class="inline container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <div id="testimonial-slider">
                      <div class="testimonial">
                          <div class="pic">
                              <img src="../../assets/mine.jpg">
                          </div>
                          <h3 class=" title">Abhishek</h3>
                          <span class="post">Web Developer</span>
                          <p  class="menu description">
                             STC Home Decor is the perfect Destination for all your Home Decoration needs.It has the widest range of products at a very Reasonable Price.It is a must visit shop located in the heart of Bargarh District of Odisha.
                          </p>
                      </div>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
