<mat-toolbar class="sticky" style="background-color:#02192E">
  &nbsp;&nbsp;
  <app-brand style="padding-left:20px"></app-brand>
  <span class="navbar-collapse" [attr.data-collapse]="isCollapsed">
                <ul class="nav navbar-nav nav-pills navBarPadding font"style="padding-left:200px;" >
                    <li routerLinkActive="active"><a href="/home">Home</a></li>
                    <li routerLinkActive="active"><a href="/product">Products</a></li>
                    <li routerLinkActive="active"><a href="/about">About Us</a></li>
                    <li routerLinkActive="active"><a href="/customers">Contact</a></li>
                    <li routerLinkActive="active"><a href="/orders">Clients</a></li>
                    <li routerLinkActive="active"><a href="/about">Login</a></li>

                </ul>
            </span>
</mat-toolbar>
<app-sidebar></app-sidebar>
<div class="page-title" style="background-image: url(assets/about/page-title.png)">
        <h1>About us</h1>
    </div>

    <section id="about-us">
        <div style="padding:40px 0px 40px; 0px;" class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-img">
                        <img src="assets/about/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-content">
                        <h2>Who we are</h2>
                        <p>Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="middle" class="skill-area" style="background-image: url(assets/about/skill-bg.png)">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 fadeInDown">
                    <div class="skill">
                        <h2>Our Skills</h2>
                        <p>All users on MySpace will know that there are millions of people out there. Every <br> day besides so many people joining this community.</p>
                    </div>
                </div>
                <!--/.col-sm-6-->

                <div class="col-sm-6">
                    <div class="progress-wrap">
                        <h3>Graphic Design</h3>
                        <div class="progress">
                            <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="bar-width">85%</span>
                            </div>

                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>HTML</h3>
                        <div class="progress">
                            <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <span class="bar-width">95%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-wrap">
                        <h3>CSS</h3>
                        <div class="progress">
                            <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="bar-width">80%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>Wordpress</h3>
                        <div class="progress">
                            <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="bar-width">90%</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
